:root {
  --theme-menu-width: 44px;
  --spacing-sm: 5px;
  --spacing-md: 10px;
  --spacing-lg: 15px;
  --spacing-xl: 20px;
  --spacing-xxl: 30px;
  --mode-item-color: rgba(0, 0, 0, 0.6);
}

/* Dark Mode */
:root[color-mode="dark"] {
  --mode-item-color: rgb(255 255 255 / 50%);
}

:root[ui-view="compact"] {
  --spacing-md: 5px;
  --spacing-lg: 10px;
  --spacing-xl: 15px;
  --spacing-xxl: 20px;
}

@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Material_Symbols_Rounded/static/MaterialSymbolsRounded_48pt-Light.ttf') format('truetype');
}

::-webkit-scrollbar {
  display: none;
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  scrollbar-width: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.preload {
  background-color: #222;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.background {
  background: linear-gradient(var(--bg-gradient-deg), var(--bg-gradient-start), var(--bg-gradient-end));
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

/* TODO */
.wallpaper {
  /* background-image: url(TODO); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .main-container {
    backdrop-filter: blur(20px);
  }
}

.sup {
  font-size: 0.8rem;
  vertical-align: super;
  padding: 4px;
  font-style: italic;
}


#footer a {
  cursor: pointer;
}

#footer a:hover {
  /* color: #ddd; */
  border-bottom: 1px dashed #fff6;
}



.mode-container {
  color: var(--mode-item-color);
  cursor: pointer;
  height: var(--theme-menu-width);
  /* e.g., 44px */
  overflow: hidden;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: width 0.5s ease;
  width: var(--theme-menu-width);
  /* width: 60px; */
  height: 60px;
}

.mode-container input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.mode-items {
  display: inline-flex;
  padding: 4px;
}

.mode-item {
  opacity: 0;
}

.mode-item {
  background-color: rgb(255 255 255 / 20%);
  height: 20px;
  width: 20px;
  padding: var(--spacing-md);
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.2s ease, opacity 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 4px; */
}

.mode-item:hover {
  background-color: rgb(255 255 255 / 30%);
}

input:focus-visible+.material-symbols-rounded {
  outline: 3px solid var(--focus-color);
  border-radius: 10px;
  outline-offset: 3px;
}

.mode-container:hover,
.mode-container:focus-within {
  width: 140px;
  height: 60px;
}

.mode-container:hover .mode-items .mode-item,
.mode-container:focus-within .mode-items .mode-item {
  position: relative;
  opacity: 1;
}

.mode-container:hover .mode-items .mode-item:nth-child(1),
.mode-container:focus-within .mode-items .mode-item:nth-child(1) {
  transform: translateX(0);
}

.mode-container:hover .mode-items .mode-item:nth-child(2),
.mode-container:focus-within .mode-items .mode-item:nth-child(2) {
  transform: translateX(4px);
}

.mode-container:hover .mode-items .mode-item:nth-child(3),
.mode-container:focus-within .mode-items .mode-item:nth-child(3) {
  transform: translateX(8px);
}

.mode-item.selected {
  opacity: 1;
  transform: translateX(0);
  position: absolute;
  left: 0;
  z-index: 10;
}
